@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Raleway/static/Raleway-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Raleway/static/Raleway-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Zarathustra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Zarathustra/static/Zarathustra.otf') format('opentype');
}

html,
body {
  font-family: 'Raleway', system-ui, sans-serif;
}
